<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypto News of the Day</title>
</head>
<body>
  <h1>Crypto News of the Day</h1>
  <b><a th:href="@{/}"><button>Save</button></a
    >
  </b>
  <div class="row">
    <div class="col">
        <table th:each="data : *{datas}">
            <tr>
                <td rowspan="8"><img th:src= "${data.imageUrl}" width=200 height=140/></td>
                <td rowspan="8">&nbsp</td>
                <td rowspan="8">&nbsp</td>
                <td rowspan="8">&nbsp</td>
                <td rowspan="8">&nbsp</td>
                
                <td colspan="3">Id: <span th:text="${data.id}"></span></td>
            </tr>
            <tr>
                <td colspan="3"><span th:text="${data.title}"></span></td>
            </tr>
            <tr>
                <td colspan="3"><span th:text="${data.body}"></span></td>
            </tr>
            <tr>
                <td colspan="3">Categories: <span th:text="${data.categories}"></span></td>
            </tr>
            <tr>
              <td colspan="3">Tags: <span th:text="${data.tags}"></span></td>
            </tr>
            <tr>
              <!--<td>Published: <span th:text="${#numbers.data.publishedOn}"></span></td>-->
              <td><br></td>
              <td><a href="${data.url}">Link</a></td>

                <td>
                  <input type="checkbox" name="save" th:checked="${data.saveStatus}" /> Save
                </td>
            </tr>
            <tr>
                <td><br/></td>
                <td><br/></td>
                <td><br/></td>
            </tr>
        </table>
    </div>
</div>
  
</body>
</html>